@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZEUS</h1>
    <p class="lead">Base Project 1.0 </p>

    <p><a href="https://github.com/igormsouza/zeus" target="_blank" class="btn btn-primary btn-lg">Repository &raquo;</a></p>
</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <h3>Logins to access</h3>
            <ul>
                <li>
                    Admin
                    <ul>
                        <li>User: admin</li>
                        <li>Password: admin</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

