@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BHS - ZEUS</h1>
    <p class="lead">PROJETO BASE MVC V1.1 </p>

    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>
<div>
    <div class="row">
        <div class="col-md-3">
            <h3>Passos Iniciais</h3>
            <p>
                ...
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Leia mais &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Página Zeus </h3>
            <p>(Ativo Reutilizável)</p>
            <p>Links relacionados na Base de Conhecimento</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Projetos Utilizados</h3>
            <ul>
                <li>Versão 1.0
                    <ul>
                        <li>NumberOne - The Simplest</li>
                        <li>AG - Ativos</li>
                        <li>Gasmig - Portal do Cliente</li>
                        <li>Cobin - DuCash</li>
                    </ul>
                </li>
                <li>Versão 1.1
                    <ul>
                        <li>AG - Portal ASM</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

