@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Alinhamento
    {
        padding-left:450px;
    }
</style>

<div id="bg_error">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="error-template">
                    <h1>Oops!</h1>     
                    <h3>Este usuário não está autorizado</h3>                
                    <div class="error-details">Usuário não tem acesso para esta funcionalidade.</div>
                    <div class="error-actions">
                        <a href="/Home/Index" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Voltar para Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>










